<h1 class="mypage-title">マイページ</h1>

<div class="profile-card">
  <div class="profile-icon">
    👤
  </div>

  <div class="profile-name">
    name
  </div>
</div>

<div class="menu-card">
  <%= link_to "🗓️ カレンダー", blogs_path %>
</div>

<div class="menu-card">
  <%= link_to "⭐ ToDo", lectures_path %>
</div> 
  
<div class="menu-card">
<%= link_to "📋 今日やること", today_path %>
</div>

<div class="menu-card">
<%= link_to "⚙️ カテゴリ管理", categories_path %>
</div>